<%- partial('_partial/article', {post: page, index: false, page: false}) %>
<% if (config.disqus_shortname){ %>
  <section class="blog-comments mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800">
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </section>
<% } %>
