html, body {
    font-family: 'Ubuntu', sans-serif;
}

.blog a {
    text-decoration: none;
}

.blog-layout {
    background-image: url('/images/background.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.blog-container {
    max-width: 800px;
    width: calc(100% - 16px);
    margin: 38pt auto 84pt;
}

.blog-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 32px;
    width: calc(100% - 16px);
}

.blog-content img {
    max-width: 100%;
}

.blog-content .highlight {
    overflow-x: scroll;
}

.blog-more-link {
    text-align: right;
}

.blog-date {
    height: 32px;
    line-height: 36px;
    float: right;
}

.blog-comments {
    width: 100%;
    padding: 56px;
    margin: 0 8px;
}

.blog-navigation {
    width: 100%;
    padding: 8pt;
}

.blog-navigation span, .blog-navigation a {
    display: inline-block;
    padding: 0 4pt;
}

.blog-footer {
    padding-left: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.blog-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}

.is-small-screen .blog-content, .is-small-screen .blog-comments {
    padding: 16px 8px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.is-small-screen h1 {
    font-size: 36px;
}

.is-small-screen h2 {
    font-size: 32px;
}

.is-small-screen h3 {
    font-size: 28px;
}
